body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--main-text-color);
  background-color: var(--main-color);
}
section {
  padding: 60px 0;

  @include desktop {
    padding: 94px 0;
  }
}
.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 30px;

  @include desktop {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.is-open {
  display: none;
}
