:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --main-color: #ffffff;
  --border-main-color: #ececec;
  --bgc-second-color: #2f303a;
  --color-section: #f5f4fa;
  --logo-color: #000000;
  --svg-main-color: #afb1b8;
  --svg-bg-footer: #43444d;
  --cover-color: rgba(33, 150, 243, 0.9);
}
